body {
  height: 700px;
  background: white;
  background: linear-gradient(white, #FCDFD9);
  max-width: none;
  font-family: 'Perpetua', 'Times New Roman', serif;
  line-height: 1.6;
  font-size: 20px;
  text-decoration-color: hotpink;
}

header {
  margin-left: 120px;
  margin-top: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color:  #808080;
}

a h1:hover {
  color: #585858;
}

#searchButton{
  text-align: right;
  margin-right: 62px;
  margin-top: -32px;
}

.header {
  margin-top: -20px;
  font-family: 'Perpetua', sans-serif;
  padding: 0px;
  background-color: #E0E0E0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.header h1 {
  font-family: 'Snell Roundhand', 'Apple Chancery';
  text-align: left;
  margin-left: 120px;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: -30px;
}

.header h2 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: -80px;
  line-height: normal;
  text-align: right;
  margin-right: 120px;
}

.header h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: -50px;
  line-height: normal;
  text-align: right;
  margin-right: 120px;
}

h5 {
  font-size: 20px;
  text-align: center;
  display: block;
  background-color: #dcdcdc;
  background: linear-gradient(to right, #FAE1DC , #dcdcdc, 	#FAE1DC);
  max-width: 100%;
  border-radius: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
