body {
  height: 1881px;
  background: white;
  background: linear-gradient(white, #FCDFD9);
  max-width: none;
  font-family: 'Perpetua', 'Times New Roman', serif;
  line-height: 1.6;
  font-size: 20px;
}

header {
  margin-left: 120px;
  margin-top: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color:  #808080;
}

a h1 h4:hover {
  color: #585858;
}

#searchButton{
  text-align: right;
  margin-right: 62px;
  margin-top: -32px;
}

.header {
  margin-top: -20px;
  font-family: 'Perpetua', sans-serif;
  padding: 0px;
  background-color: #E0E0E0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.header h1 {
  font-family: 'Snell Roundhand', 'Apple Chancery';
  text-align: left;
  margin-left: 120px;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: -30px;
}

.header h2 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: -80px;
  line-height: normal;
  text-align: right;
  margin-right: 120px;
}

.header h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: -50px;
  line-height: normal;
  text-align: right;
  margin-right: 120px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 60%;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
  margin: auto;
  /* background-color: #F0F0F0; */
}

/* Hide the images by default */
.mySlides {
    display: none;
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 120%;
  width: auto;
  margin-top: 16px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  background: #696969;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: inherit;
  bottom: 8px;
  width: auto;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background: #696969;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  font-size: 20px;
  padding: 0px 6px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:  0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h4 {
  text-align: center;
  margin-top: -10px;
  background-color: #dcdcdc;
  border-radius: 10px;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}

#abstract {
  margin-top: 400px;
}

#abstract p {
  margin-left: 150px;
  margin-right: 150px;
  line-height: 1.5;
}

.container-fluid {
  width: 100%;
  text-align: center;
  padding-top: -100px;
}

#members p {
  padding-top: 30px;
  padding-bottom: -5px;
}

#text_members {
  background-color: #d8d8d8;
}

.column-left {
  display: inline-block;
  width: 25%;
  margin-top: -50px;
}

.column-center {
  display: inline-block;
  width: 25%;
  margin-top: -50px;
}

.column-right {
  display: inline-block;
  width: 25%;
  margin-top: -50px;
}

#acknowledgement {
  margin-top: 20px;
}

#acknowledgement p {
  margin-top: -10px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 1.5;
}

#greeting {
  margin-top: -20px;
  text-align: right;
}

#signature {
  padding-top: -40px;
  text-align: right;
}

h5 {
  font-size: 20px;
  text-align: center;
  display: block;
  background-color: #dcdcdc;
  background: linear-gradient(to right, #FAE1DC , #dcdcdc, 	#FAE1DC);
  margin-bottom: 0px;
  max-width: 100%;
  border-radius: 0px;
  width: 100%;
  position: absolute;
  padding: 0px 0px;
}
